:root {
  --primary: #BDBBAD;
  --secondary: #052D38;
  --tertiary: #47423d;
  --error: #CE231D;
}

body {
  background-color: var(--primary);
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: var(--tertiary);
  margin-top: -1rem;
  margin-bottom: 2.5rem; 
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: var(--primary);
  margin: 0.75rem 0;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

footer a {
  color: var(--tertiary);
}

main {
  position: relative;
  margin-top: 4.5rem;
}

.card {
  background-color: var(--secondary);
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: left;
}

blockquote {
  color: var(--primary);
  margin: 0.5rem 0;
  padding-bottom: 6px;
}

figcaption {
  color: var(--primary);
  filter: brightness(100%);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 0.5rem;
  padding: 6px 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 80px;
  padding: 2rem 0;
}

.btn {
  background-color: transparent;
  color: var(--secondary);
  cursor: pointer;
  margin: 0;
  text-rendering: optimizelegibility;
}

.btn-primary {
  border: 2px solid var(--secondary);
  width: 220px;
  padding: 12px 20px;
  font-size: 1rem;
  letter-spacing: .05em;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
}

.btn-secondary {
  border: none;
  position: absolute;
  right: 3rem;
  top: -1.6rem;
  font-size: 0.8rem;
}

[data-error] {
  margin-bottom: 16px;
  color: var(--error);
  font-weight: 500;
}

@media (hover: hover) {
  .btn-primary:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #052D38;
    --secondary: #BDBBAD;
    --tertiary: #7A958C;
  }
}
